@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<button class="btnPdf">Generar Pdf</button>
<script type="text/javascript">
$(document).ready(function(){
  $("button").click(function () {
          window.open("../Pages/PrintStudent?param=1","_blank")
          // window.open('https://www.freecodecamp.org/','fCC_WindowName')
          // alert( "Handler for .click() called." );
      });
});
</script>